* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { height: 100%; overflow: hidden; }
.hid { overflow: hidden; }
button:focus { outline: none; }
button {
    padding: 9px 17px;
    margin:7.5px;
    border: 1px solid gray;
    color: gray;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    transition: border .2s, color .2s;
}
button:hover {
    color:black;
    border: 1px solid black;
}

/*LOGO STYLING
=================================*/
.fullLogo {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
}
.cls-1 { fill: #fff; }
.cls-2 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit:10;
    stroke-width:1.5px;
}
/*===============================*/

/*LANDING STYLING
=================================*/

.landingContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landingInput {
    margin: 30px 0;
    width: 80%;
}
#landingInput:focus { 
    outline: none;
    box-shadow: 1.2px 1.2px 2.5px rgb(252, 221, 221);
}

.loading {
    font-size: 14px;
    font-style: italic;
    color: #333;
}

.invalid {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: #D8000C;
}

.navbar-item > a { color: white; }

/*===============================*/

.fa-lg:hover {
    color: turquoise;
    cursor: pointer;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.whitesmoke { color: whitesmoke; }
.activeColor { color: turquoise !important; }
.clickable { cursor: pointer; }
.fixed { position: fixed; }
.pointerEventsAuto { pointer-events: auto; }
.icon { color: #FFF; }
.is-divider {
    width: 100%;
    margin: 15px 0;
    border: 1px solid aliceblue;
}

.options {
    top: 12px;
    right: 20px;
}

.optionsBox {
    top: 35px;
    right: 20px;
}

.menu {
    top: 12px;
    left: 20px;
    z-index: 100;
}

.sidebarContainer { height: 100%; }
.sidebar {
    height: 100%;
    background: transparent;
}

.settingsContainer {
    width: 150px;
    height: auto;
    background: whitesmoke;
    border:1px solid whitesmoke;
    border-radius: 5px;
}

.settingsBtn {
    width: 100%;
    padding: 5px 0;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}
.btnContainer > p { 
    margin: 0;
    padding-left: 5px; 
}
.btnContainer { margin: 10px 0; width: 100%; }
.settingsBtn:hover { background: #e6e5e5 }

@media(max-width:500px) {
    #introspect { font-size: 26px; }
}

.string {
  color: #e04050;
}

.int {
  color: #50e040;
}

.type {
  color: hsl(217, 71%, 53%);
}

.bool {
  color: hsl(48, 100%, 67%);
}