* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { height: 100%; overflow: hidden; }
body { height: 100%; overflow: hidden; }
button:focus { outline: none; }

/*LOGO STYLING
=================================*/
.fullLogo {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 1.5px;
}
/*===============================*/

/*LANDING STYLING
=================================*/

.landingContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#landingInput {
    margin: 30px 0;
    min-width: 385px;
    padding: 10px 18px;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
#landingInput:focus { 
    outline: none;
    box-shadow: 1.2px 1.2px 2.5px rgb(252, 221, 221);
}

.loading {
    font-size: 14px;
    font-style: italic;
    color: #333;
}

.invalid {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    color: #D8000C;
}

/*===============================*/


.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.whitesmoke { color: whitesmoke; }
.activeColor { color: turquoise !important; }
.clickable { cursor: pointer; }
.fixed { position: fixed; }
.pointerEventsAuto { pointer-events: auto; }
.icon:hover { color: turquoise; }

.options {
    top: 12px;
    right: 20px;
}

.optionsBox {
    top: 35px;
    right: 20px;
}

.menu {
    top: 12px;
    left: 20px;
    z-index: 100;
}

.sidebarContainer { height: 100%; }
.sidebar {
    height: 100%;
    background: transparent;
}

.settingsContainer {
    width: 150px;
    height: auto;
    background: whitesmoke;
    border:1px solid whitesmoke;
    border-radius: 5px;
}

.settingsBtn {
    width: 100%;
    padding: 5px 0;
    background: whitesmoke;
    border: 1px solid whitesmoke;
}
.btnContainer > p { 
    margin: 0;
    padding-left: 5px; 
}
.btnContainer { margin: 10px 0; width: 100%; }
.settingsBtn:hover { background: #e6e5e5 }